In [14]:
import pandas as pd
import numpy as np
%matplotlib inline 
import matplotlib.pyplot as plt
import MetaTrader5 as mt5
from account_credentials import LOGIN, PASSWORD, SERVER
from datetime import datetime, timedelta

In [8]:
is_initialized = mt5.initialize()
print('initialize: ', is_initialized)

is_logged_in = mt5.login(LOGIN, PASSWORD, SERVER)
print('logged in: ', is_logged_in)
print('\n')
account_info = mt5.account_info()
print(datetime.now(),
    '| Login: ', account_info.login,
    '| Balance: ', account_info.balance,
    '| Equity: ' , account_info.equity)

initialize:  True
logged in:  True


2023-04-12 07:25:20.154643 | Login:  114123121 | Balance:  485.37 | Equity:  485.37

In [65]:
import MetaTrader5 as mt5
from datetime import datetime, timedelta

# connect to MetaTrader 5
mt5.initialize()

# set the time range for the history
start_time = datetime.now() - timedelta(days=100)
end_time = datetime.now()

# retrieve the history
history = mt5.history_deals_get(start_time, end_time)

# Create an empty dataframe
df = pd.DataFrame(columns=['Time','Deal ID', 'Order Ticket', 'Type', 'Volume', 'Price', 'Profit', 'Comment', 'Magic'])

# Iterate through the trade history and create a list of dataframes
dfs = []
for deal in history:
    row = {'Time': pd.Timestamp(deal.time, unit='s'),
           'Deal ID': deal.order,
           'Order Ticket': deal.ticket,
           'Type': 'Buy' if deal.type == 0 else 'Sell',
           'Volume': deal.volume,
           'Price': deal.price,
           'Profit': deal.profit,
           'Comment': deal.comment,
           'Magic': deal.magic}
    dfs.append(pd.DataFrame(row, index=[0]))

# Concatenate all dataframes into a single dataframe
df = pd.concat(dfs, ignore_index=True)

# Print the resulting dataframe
print(df)

                   Time    Deal ID  Order Ticket  Type  Volume     Price
0   2023-03-23 01:46:47          0     143696145  Sell    0.00     0.000  \
1   2023-03-28 02:09:05  266948417     145348938   Buy    0.01  1960.969
2   2023-03-28 02:29:00  266953667     145353163   Buy    0.01  1960.427
3   2023-03-28 03:03:56  266962782     145360604   Buy    0.02  1961.108
4   2023-03-28 04:18:59  266982644     145377761  Sell    0.02  1958.718
..                  ...        ...           ...   ...     ...       ...
114 2023-04-11 05:18:21  273517404     149735923  Sell    0.01  2000.956
115 2023-04-11 12:00:01  273715435     149891150  Sell    0.01  2000.456
116 2023-04-11 13:00:07  273746044     149915456  Sell    0.01  1998.859
117 2023-04-11 13:10:08  273752357     149920531   Buy    0.01  1997.331
118 2023-04-11 13:55:01  273785085     149945300   Buy    0.01  2001.984

     Profit                       Comment   Magic
0    500.00  D-trial-USD-INT-98b2867537b3       0
1      0.00                       ML_lsvm  123999
2      0.00                       ML_lsvm  123999
3      0.00                                     0
4     -4.78                                     0
..      ...                           ...     ...
114    3.13                 [tp 2000.956]  123999
115    0.00                       ML_lsvm  123992
116    0.00                       ML_lsvm  123992
117    3.13                 [tp 1997.331]  123992
118   -3.12                 [sl 2001.984]  123992

[119 rows x 9 columns]

In [69]:
df_adjust = df[(df['Profit'] != 0) & (df['Time'] > '2023-3-31')]
print(df_adjust)
df_adjust.to_csv('history_price.csv')

                   Time    Deal ID  Order Ticket  Type  Volume     Price
80  2023-03-31 07:19:03  268670643     146730069  Sell    0.01  1981.207  \
82  2023-03-31 11:29:47  268798170     146835994  Sell    0.01  1981.799
84  2023-03-31 19:05:11  269020107     147026872  Sell    0.01  1968.435
86  2023-04-03 01:45:13  269391156     147259605  Sell    0.01  1959.667
88  2023-04-03 08:22:51  269581073     147388957  Sell    0.01  1965.072
90  2023-04-03 10:12:41  269629594     147429873  Sell    0.01  1969.259
92  2023-04-03 11:31:40  269680116     147468589  Sell    0.01  1976.210
94  2023-04-03 13:31:12  269750718     147525083  Sell    0.01  1975.620
96  2023-04-03 15:31:01  269884319     147617571  Sell    0.01  1989.307
98  2023-04-04 14:00:09  270407933     147976264  Sell    0.01  1995.760
100 2023-04-04 15:30:20  270563300     148092273  Sell    0.01  2019.158
102 2023-04-04 16:07:56  270587467     148112967  Sell    0.01  2023.461
104 2023-04-05 07:28:01  270893288     148285729  Sell    0.01  2027.231
106 2023-04-05 13:20:46  271088279     148424867  Sell    0.01  2028.728
108 2023-04-06 17:36:29  271952543     148992698  Sell    0.01  2008.838
110 2023-04-10 00:30:29  272858212     149261409  Sell    0.01  2002.416
112 2023-04-10 12:16:10  273129966     149458549  Sell    0.01  1997.618
114 2023-04-11 05:18:21  273517404     149735923  Sell    0.01  2000.956
117 2023-04-11 13:10:08  273752357     149920531   Buy    0.01  1997.331
118 2023-04-11 13:55:01  273785085     149945300   Buy    0.01  2001.984

     Profit        Comment   Magic
80    -3.12  [sl 1981.207]  123999
82     3.13  [tp 1981.799]  123999
84    -3.12  [sl 1968.435]  123999
86    -3.12  [sl 1959.667]  123999
88     3.12  [tp 1965.072]  123999
90     3.13  [tp 1969.259]  123999
92     3.58  [tp 1975.758]  123999
94    -3.13  [sl 1975.620]  123999
96     3.13  [tp 1989.307]  123999
98     3.12  [tp 1995.760]  123999
100    3.13  [tp 2019.158]  123999
102    3.12  [tp 2023.461]  123999
104    3.12  [tp 2027.231]  123999
106   -3.12  [sl 2028.728]  123999
108   -3.12  [sl 2008.838]  123999
110   -3.12  [sl 2002.416]  123999
112   -3.12  [sl 1997.618]  123999
114    3.13  [tp 2000.956]  123999
117    3.13  [tp 1997.331]  123992
118   -3.12  [sl 2001.984]  123992

In [61]:
df = df[df['Time'] > '2022-01-01']
df

Empty DataFrame
Columns: [Time, Deal ID, Order Ticket, Type, Volume, Price, Profit, Comment, Magic]
Index: []

In [62]:
import pandas as pd

# create example dataframe
df = pd.DataFrame({
    'Time': ['2039-03-30', '2039-03-31', '2039-04-01'],
    'Price': [100, 101, 102]
})

# convert the 'Time' column to datetime format
df['Time'] = pd.to_datetime(df['Time'])

# filter by time > 2039-03-31
filtered_df = df[df['Time'] > '2039-03-31']

print(filtered_df)

        Time  Price
2 2039-04-01    102